{% extends "_base.html" %}
{% block title %}{{ config.title }}{% endblock title %}
{% block head %}
<meta name="description" content="{{ config.description }}" />
<meta property="og:title" content="{{ config.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ config.base_url | safe }}" />
{% endblock head %}
{% block content %}
<div class="home-container">
  <div class="home-intro">
    <div class="logo-title">
      <div class="title-inner">
        {% if config.extra.avatar %}
        <div class="avatar">
          <img src="{{ get_url(path=config.extra.avatar) }}" alt="avatar">
        </div>
        {% endif %}
        <div class="title">
          <h3>{{ config.title }}</h3>
          <div class="description">
            <p>{{ config.description }}</p>
          </div>
          {% if config.extra.motto_mode and config.extra.motto_mode != "hide" %}
            {% if config.extra.motto_mode == "single" and config.extra.motto %}
            <p class="motto">{{ config.extra.motto }}</p>
            {% elif config.extra.motto_mode == "multi" and config.extra.mottos %}
            <p class="motto" data-mottos='{{ config.extra.mottos | json_encode | safe }}'></p>
            {% endif %}
          {% endif %}
        </div>
      </div>
      <nav class="home-nav">
        {% if config.extra.sections.posts | default(value=true) %}
        <a href="{{ get_url(path="@/posts/_index.md", lang=lang) }}">Příspěvky</a>
        {% endif %}
        {% if config.extra.sections.about | default(value=true) %}
        <a href="{{ get_url(path="@/about/index.md", lang=lang) }}">O projektu</a>
        {% endif %}

        {% if config.extra.sections.links | default(value=true) %}
        <a href="{{ get_url(path="@/links/index.md", lang=lang) }}">Moje další projekty</a>
        {% endif %}
      </nav>
    </div>
  </div>
</div>
{% endblock content %}
